<div class= "sign-in-form-container">
  <label>Sign In!</label>

  <form action="/session" method="post" id="sign-in-form">

    <%= form_auth_token %>

    <div class="form-group">
      <label for="emailCredential">Email Address:</label>
      <input
        type="email"
        name="user[email]"
        class="form-control"
        id="emailCredential"
        placeholder="Enter Email Address">
    </div>

    <div class="form-group">
      <label for="passwordCredential">Password:</label>
      <input
        type="password"
        name="user[password]"
        class="form-control"
        id="passwordCredential"
        placeholder="Password">
    </div>


    <span><input type="submit" value="Sign In!" class="btn btn-success"><span id="button-spacer">&nbsp</span><%= link_to "Sign Up", new_user_url, class: 'btn btn-primary' %></span>
  </form>


</div>

<div id="signInAlerts">
  <% if flash[:errors] %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss='alert'><span aria-hidden="true">&times;</span><span class="sr-onlyl">Close</span></button>
      <%= flash[:errors] %>
    </div>
  <% end %>
</div>
