<div id="myDogModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dog Information</h4>
      </div>
      <div class="modal-body">
        <p>This is where the dog's information will be held.</p>
        <span><img class="img-thumbnail" src="./images/dog1.jpeg" style="height:200px; width:200px" data-toggle="modal" data-target="#myDogModal"/></span>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Contact Shelter</button>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
