<div class="dogsGutterLeft col-xs-1">
</div>
<div class="dogsContainer col-xs-10">
    <div class="row">
        <h3 class="page col-xs-8">Dogs
            <div class="addDogBtn btn btn-info">Add Dog</div>
        </h3>
        <div class="col-xs-4">
        </div>
    </div>
    <uib-tabset active="active">
        <uib-tab index="0" heading="Your Dogs">
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-6">
                    <div class="dogImage col-xs-3">
                        <div class="">
                            <span><img class="dogThumbnail img-thumbnail" src="./images/dog1.jpeg" style="height:200px; width:200px" /></span>
                        </div>
                    </div>
                    <div class="dogImage col-xs-3">
                        <div class="">
                            <span><img class="dogThumbnail img-thumbnail" src="./images/dog2.jpeg" style="height:200px; width:200px" /></span>
                        </div>
                    </div>
                    <div class="dogImage col-xs-3">
                        <div class="">
                        <span>
                            <img class="dogThumbnail img-thumbnail"
                                 src="./images/dog3.jpeg"
                                 style="height:200px; width:200px"/>
                         </span>
                        </div>
                    </div>
                    <div class="dogImage col-xs-3">
                        <div class="">
                        <span>
                            <img class="dogThumbnail img-thumbnail"
                                 src="./images/dog4.jpeg"
                                 style="height:200px; width:200px"/>
                         </span>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>
            <!--<uib-tab index="1" heading="Your Dogs">-->
                <!--<div class="row ">-->
                    <!--<div class="col-xs-2">-->
                    <!--</div>-->
                    <!--<div class="col-xs-6">-->
                        <!--<div class="dogImage col-xs-3">-->
                            <!--<div class="">-->
                                <!--<span><img class="dogThumbnail img-thumbnail" src="./images/dog1.jpeg" style="height:200px; width:200px" /></span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="dogImage col-xs-3">-->
                            <!--<div class="">-->
                                <!--<span><img class="dogThumbnail img-thumbnail" src="./images/dog2.jpeg" style="height:200px; width:200px" /></span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="dogImage col-xs-3">-->
                            <!--<div class="">-->
                                <!--<span>-->
                                    <!--<img class="dogThumbnail img-thumbnail"-->
                                         <!--src="./images/dog3.jpeg"-->
                                         <!--style="height:200px; width:200px"/>-->
                                 <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="dogImage col-xs-3">-->
                            <!--<div class="">-->
                                <!--<span>-->
                                    <!--<img class="dogThumbnail img-thumbnail"-->
                                         <!--src="./images/dog4.jpeg"-->
                                         <!--style="height:200px; width:200px"/>-->
                                 <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</uib-tab>-->
    </uib-tabset>
</div>

<div class="dogsGutterRight col-xs-1">
</div>
