<div ng-init="index()" class="dogsGutterLeft col-xs-2">
</div>
<div class="dogsContainer panel panel-default col-xs-8">
    <div class="panel-heading row">
        <h3 class="page">Dogs
            <div class="addDogBtn btn btn-info" ui-sref="dogForm">Add Dog</div>
        </h3>
    </div>
    <div class="dog-panel-body panel-body">
        <uib-tabset active="active" class="dogViewTab" >
            <uib-tab index="0" heading="Your Dogs" >
                <div class="userDogListContainer row">
                    <div class="col-xs-1">
                        <span class="nav-button back-button glyphicon glyphicon-backward"></span>
                    </div>
                    <div class="col-xs-10">
                        <div ng-repeat="dog in dogs">
                            <div class="dogImage col-xs-3">
                                <div class="">
                                    <span><img class="dogThumbnail img-thumbnail" src="{{dog.dog_photo_large}}" style="height:200px; width:200px" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="dogImage col-xs-3">
                            <div class="">
                                <span><img class="dogThumbnail img-thumbnail" src="./images/dog2.jpeg" style="height:200px; width:200px" /></span>
                            </div>
                        </div>
                        <div class="dogImage col-xs-3">
                            <div class="">
                            <span>
                                <img class="dogThumbnail img-thumbnail"
                                     src="./images/dog3.jpeg"
                                     style="height:200px; width:200px"/>
                             </span>
                            </div>
                        </div>
                        <div class="dogImage col-xs-3">
                            <div class="">
                            <span>
                                <img class="dogThumbnail img-thumbnail"
                                     src="./images/dog4.jpeg"
                                     style="height:200px; width:200px"/>
                             </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-1">
                        <span class="nav-button forward-button glyphicon glyphicon-forward"></span>
                    </div>
                </div>

            </uib-tab>
            <uib-tab index="1" heading="Watched Dogs">
                <div class="userDogListContainer row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-10">
                        <div class="dogImage col-xs-3">
                            <div class="">
                                <span><img class="dogThumbnail img-thumbnail" src="./images/dog1.jpeg" style="height:200px; width:200px" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <span class="glyphicon glyphicon-forward"></span>
                    </div>
                </div>

            </uib-tab>
        </uib-tabset>
    </div>
</div>

<div class="dogsGutterRight col-xs-1">
</div>
