<div class="row">

    <div class="homeGutterLeft col-sm-1 col-md-2">
    </div>

    <div class="homePageContainer col-sm-10 col-md-8 main" ng-init="refreshList()" >
        <div>
            <h1 class="page">Browse Dogs Looking for Homes...</h1>

            <div ng-repeat="row in dogRows track by $index">

                <div class="row">
                    <div class="col-xs-6 col-sm-12">
                        <div  ng-repeat="dog in row" >
                            <div class="col-xs-6 col-sm-3">

                                <div class="centerBlock">
                                    <span><img class="img-thumbnail" src="{{ dog.dog_photo_large }}" style="height:200px; width:200px" /></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="homeGutterRight col-sm-1 col-md-2">
    </div>
</div>