<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="#">PawPal</a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
         <li class="navbarItem">
            <a href="#">
                <div type="button"
                     class="helpButton">
                     Help
                </div>
            </a>
        </li>
         <li class="navbarItem">
             <a ui-sref="login">
                 <div type="button"
                      class="signInButton"
                    >
                     Sign In|Sign Up
                 </div>
            </a>
        </li>
         <li class="dropdown">
                 <div class="btn-group" uib-dropdown is-open="status.isopen">
                         <div id="navbarProfileButton"
                                 type="button"
                                 class="dropdownSignInButton"
                                 uib-dropdown-toggle>
                                 Profile <span class="caret"></span>
                         </div>
                      <ul class="dropdown-menu"
                          uib-dropdown-menu role="menu"
                          aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Shelter Profile</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Dogs</a></li>
                      </ul>
                  </div>
              </a>
         </li>
       </ul>
     </div>
   </div>
</nav>
