<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="#">PawPal <small>Dog Adoption Aggregator</small></a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
         <li><a href="#">Help</a></li>
         <li><a href="#">
             <div type="button" class="signInButton" ng-click="open()">
                 Sign In/Sign Up
             </div>
            </a>
        </li>
         <li>
             <div class="btn-group" uib-dropdown is-open="status.isopen">
                 <div id="navbarProfileButton"
                         type="button"
                         class="signInButton"
                         uib-dropdown-toggle>
                         Profile <span class="caret"></span>
                 </div>
              <ul class="dropdown-menu"
                  uib-dropdown-menu role="menu"
                  aria-labelledby="single-button">
                <li role="menuitem"><a href="#">Action</a></li>
                <li role="menuitem"><a href="#">Another action</a></li>
                <li role="menuitem"><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Separated link</a></li>
                <li>
                    <div ui-view="signInForm">
                </li>
              </ul>
          </div>
         </li>
       </ul>
     </div>
   </div>
</nav>
