<form id="newCommentForm" class="form-horizontal">
  <div class="form-group">
    <label for="enterComment">Comment:</label>
    <textarea rows="3" class="form-control" id = "enterComment" name="content" placeholder="Enter your comment here"></textarea>
  </div>
  <div class="form-group">
    <label>Enter Rating:</label>
    <label class="radio-inline">
      <input type="radio" name="rating" id="inlineCheckbox1" value="1"> 1
    </label>
    <label class="radio-inline">
      <input type="radio" name="rating" id="inlineCheckbox2" value="2"> 2
    </label>
    <label class="radio-inline">
      <input type="radio" name="rating" id="inlineCheckbox3" value="3"> 3
    </label>
    <label class="radio-inline">
      <input type="radio" name="rating" id="inlineCheckbox3" value="4"> 4
    </label>
    <label class="radio-inline">
      <input type="radio" name="rating" id="inlineCheckbox3" value="5"> 5
    </label>

    <input type="submit" name="rating" class="btn btn-success" id="addCommentButton" value="Add Comment">
  </div>

</form>
