<form id="newCommentForm" class="formControl">
  <input type="text" name="content" placeholder="Enter your comment">
  <input type="number" step="any" name="rating" placeholder="Enter A Rating">

  <input type="submit" id="addCommentButton" value="Submit">
</form>
