<div class="sign-in-container container">
  <label for-"sign-in-form">Sign In!</label>
  <form action="/session" method="post" id="sign-in-form">

    <%= form_auth_token %>

    <div class="form-group">
      <label for="emailCredential">Email Address:</label>
      <input
        type="email"
        name="user[email]"
        class="form-control"
        id="emailCredential"
        placeholder="Enter Email Address">
    </div>

    <div class="form-group">
      <label for="passwordCredential">Password:</label>
      <input
        type="password"
        name="user[password]"
        class="form-control"
        id="passwordCredential"
        placeholder="Password">
    </div>
    <input type="submit" value="Submit" class="btn btn-success">
    <%= link_to "Sign Up", new_user_url %>
  </form>
</div>
