<!-- <div class="sitters-feed"> -->
<div class="row">
<div class="col-xs-8">
  <% sitters.each(function(sitter){ %>
    <div class="row">
      <!-- <div class="sitter-info"> -->
      <div class="col-xs-10">
        <h4><%= sitter.escape('sitter_name') %></h4>
        <ul>
          <li><p><%= sitter.escape('description') %></p></li>
          <li>Cost per Night:<%= sitter.escape('price') %></li>
      </div>

      <!-- <div class="sitter-pic"> -->
      <div class="col-xs-2">
        <img src="<%= sitter.get('sitter_photo_small') %>">
      </div>
    </div>
  <% }); %>
</div>

<!-- </div> -->

  <div class="map col-xs-4">

    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<% ENV['MAPS_API_KEY'] %>
        &q=Space+Needle,Seattle+WA">
    </iframe>

  </div>
</div>
