<h1> Your Dogs: </h1>

<% if (dogs.isEmpty()){  %>
  <h2> You haven't added any dogs yet :(</h2>
<% } else { %>

  <% dogs.each(function(dog){ %>
    <div class="dog col-xs-12 col-md-3">
    <h2><%= dog.escape('name') %></h2>
    <img class="img-responsive img-circle" src="<%= dog.get('dog_photo_large') %>">
    <p>
      <button class="btn btn-primary showDogProfile" data-id="<%= dog.escape('id') %>"> Show Dog Profile </button>
    </p>
    </div>

  <% }); %>

<% } %>
