.main-content {
    height: 80%
}

.navbar-brand {
  line-height:12px;
  padding-top:20px;
  padding-bottom:5px;
}

.navbar-brand small {
  display:block;
  font-size:10px;
}

.centerBlock {
                display: table;
                margin: 0 auto;
            }
