/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";


body, html * {
  // margin: auto;
  border: thin dotted blue;
}

body {
  padding-top: 70px;
}

.backdrop {
  // height: 100%;
  // width: 100%;
}
.container {
  // margin-top: 5%;
  // width: 85%;
}

.sign-in-container {
  // margin-top: 10%;
  // width: 50%;
}

.dogs {

}

.dog {
  margin: 3%;
  padding: 0%;
  display: inline-block;
  float: left;
}

.dog > .img-circle {
  width: 200px;
  height: 200px;
}

.dogShowInfo {

}

.dogShowInfo > .img-circle {
  height: 350px;
  width: 350px;
}

.removeDog {
  float: right;
}

.sitters {
  margin: auto;
  padding: 25%;
}



.sitter_item> img {
  float: right;
  display: inline-block;
}

.sitter_item> li {
  display: inline-block;
  list-style: none;
}

.sitter_item > p {
  display: inline-block;
}

.map {
  // float: right;
  // width: 40%;
  // height: 25%;
}
