<div class="sitterBooking">

  <h1> Booking: </h1>
  <ul>
    <li>Date Start: <%= booking.escape('date_start') %> <li>
    <li>Date End: <%= booking.escape('date_end') %> </li>
  </ul>

  <% if (booking.get('confirmed')) { %>
    <h2> Booking Confirmed </h2>
  <% }else { %>
    <div class="bookingConfirmation">
      <div class="confirmDiv"><h2>Confirm? <button class="confirmBooking btn btn-success">✓</button></h2></div>
      <div class="denyDiv"><h2>Deny? <button class="denyBooking btn btn-danger">✖</button></h2></div>
    </div>
  <% } %>
  <% if (booking.get('completed')) { %>
    <h3> Comment on Booking </h3>
  <% } %>



</div>
