<form id="newDogForm">

  <label for="dogName">Name: </label>
  <input type="text" name="dog[name]" id="dogName">


  <label for="dogAge">Age: </label>
  <input type="text" name="dog[age]" id="dogAge">

  <label for="dogDescription">Description:</label>
  <input type="textarea" name="dog[description]" id="dogDescription">

  <label for="dogSize">Size:</label>
  <select name="dog[size]" id="dogSize">
    <option value='small'>Small</option>
    <option value='medium'>Medium</option>
    <option value='large'>Large</option>
  </select>

</form>
