<!-- <div class="sitters-feed"> -->


  <!-- </div> -->



  <!-- <div class="row">

  <div class="map-wrapper col-md-10 col-xs-offset-1 col-lg-offset-0 col-lg-5"> -->



<div class = "frontPageWrapper" >
  <div class="mapWrapper">
    <div id="map-canvas">

    </div>

    <form>

      <div class="input-append searchBar">
        <label for="searchBar">Search For Dog Sitters:</label>
        <input type="text" id="searchParams" placeholder="Enter an address"/>

        <button type="submit" id="search" class="btn btn-success">Search!</button>
      </div>
    </form>

  </div>



  <div id="sitterIndexWrapper">
    <h2> Sitter Listings: </h2>

    <div class="sitterIndex"
    </div>
  </div>

</div>
