<!-- <div class="sitters-feed"> -->

<div class="row">


  <!-- </div> -->

  <div class="map-wrapper col-xs-3">

    <div id="map-canvas" style="width:400px;height:400px;">

    </div>
  </div>

  <div class="col-xs-7 col-xs-offset-2 sitterIndex"
  </div>


</div>
