<div class="input-append searchBar">
  <label for="searchBar">Search For Dog Sitters:</label>
  <input type="text" id="searchParams" placeholder="Enter an address"/>

  <button type="submit" id="search" class="btn btn-success">Search!</button>
</div>


<div id="mapWrapper">
  <div id="map-canvas"></div>

  <!-- <form class='map-form'>

    <div class="input-append searchBar">
      <label for="searchBar">Search For Dog Sitters:</label>
      <input type="text" id="searchParams" placeholder="Enter an address"/>

      <button type="submit" id="search" class="btn btn-success">Search!</button>
    </div>
  </form> -->

</div>



<div id="sitterIndexWrapper">
  <h2> Sitter Listings: </h2>

  <div class="sitterIndex">
  </div>
</div>
