
<div id="searchWrapper">
    <form class="form-search">
      <div class="input-append searchBar">
        <label for="searchBar">Search For Dog Sitters:</label>
        <input type="text" class="span2 search-query" id="searchParams" placeholder="Enter an address"/>
        <button type="submit" id="search" class="btn btn-success">Search!</button>
      </div>
    </form>
</div>



<div id="mapWrapper">
  <div id="map-canvas"></div>

</div>



<div id="sitterIndexWrapper">
  <h2> Sitter Listings: </h2>

  <div class="sitterIndex">
  </div>
</div>
