
<div id="searchWrapper">
    <form class="form-search">
      <div class="input-append searchBar">
        <label for="searchBar">Search For Dog Sitters:</label>
        <input type="text" class="span2 search-query" id="searchParams" placeholder="Enter an address"/>
        <button type="submit" id="search" class="btn btn-success">Search!</button>
      </div>
    </form>



  <div id="sortDropDown" class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Sort Results
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><button id="orderByRating" class="btn btn-info">Order by Rating</button></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><button id="orderByPrice" class="btn btn-info">Order by Price</button></a></li>
      </ul>
    </div>
</div>



<div id="mapWrapper">
  <div id="map-canvas"></div>

</div>



<div id="sitterIndexWrapper">
  <h2> Sitter Listings: </h2>

  <div class="sitterIndex">
  </div>
</div>
