<!-- <div class="sitters-feed"> -->


<div class="row">


  <!-- </div> -->

  <div class="map-wrapper col-xs-3">

    <div id="map-canvas" style="width:450px;height:450px;">

    </div>
    <br>
    <form>
      <div class="form-group" id="">
        <input type="text" class="form-control" id="searchParams" placeholder="Search">

        <button type="submit" id="search" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <div class="col-xs-7 col-xs-offset-2 sitterIndex"
  </div>


</div>
