<!-- <div class="sitters-feed"> -->

<div class="row">
<div class="col-xs-8 sitterIndex"
</div>

<!-- </div> -->

  <div class="map-wrapper col-xs-4">

  <div id="map-canvas" style="width:400px;height:400px;">

  </div>
</div>
