/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";



body, html * {
  // margin: auto;
  // border: thin dotted blue;
}

.backdrop {
  background-image: url('https://s3-us-west-1.amazonaws.com/pet-sitter-development/Bones-Seamless-Patterns2.jpg');
  background-size: 2400px;


  // background: -webkit-linear-gradient(#FFFFFF, #DEDCD2); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(#FFFFFF, #DEDCD2); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(#FFFFFF, #DEDCD2); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(#FFFFFF, #DEDCD2); /* Standard syntax */
}

.container {
  width: 75%;
  background-color: #FFFFFF;
  // box-shadow: 40px 0 40px -4px #CBFFBA, -40px 0 40px -4px #CBFFBA;
}


.navbar .navbar-default {
  color: black;
}


body {
  padding-top: 70px;

}

#button-spacer {
  width: 5px;
}

#splash {
  background-image: url("https://s3-us-west-1.amazonaws.com/pet-sitter-development/background_dog.jpg");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.newSitterWrapper {
  width: 100%;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: thin solid black;
  border-radius: 5px;
  margin-bottom: 1em;
}

#newSitterForm {
  width: 100%;
  position: relative;
}

#newSitterForm textarea {
  width: 100%;
  height: 152px;
}

#newSitterForm input.addSubmit {
  margin-left: 75%;
  margin-top: 10%;
}

.addSubmit {
  margin-top: -4%;
  margin-left: 80%;
}

.form-checkbox {
  float: left;
  margin-left: 20px;
}

.backdrop {
  min-height: 1000px;
}
.container {
  // margin-top: 5%;
  min-height: 1000px;
}

.sign-in-container {
  display: none;
  margin-top: 10%;
  border-radius: 5px;
  opacity: 0.5;
  width: 50%;
  height: 35%;
  position: relative;
}

.sign-in-form-container {
  position: absolute;
  top: 15%;
  right: 40%;
  left: 30%;
  width: 175px;
  opacity: 1;
}




.dogShowInfo > .img-circle {
  height: 350px;
  width: 350px;
}

.removeDog {
  float: right;
}

.sitters {
  margin: auto;
  padding: 25%;
}

.removeSitterAccount {
  float: right;
}

.bookNow {
  float: right;
}

.map-wrapper > #map-canvas {
  // box-shadow: 2px 5px 1px black, -2px -5px 1px black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 5px;
}

.sitterItem {
  margin: 5px 5px;
  border: thin solid black;
  border-radius: 3px;
  position: relative;
  background-color: #E0E0D8;
  opacity: 1;
  // box-shadow: 5px 5px 2px #0D3D0C;
  min-height: 200px;
}

.sitterItem> img {
  position: absolute;
  display: inline-block;
}

.sitter_item> li {
  display: inline-block;
  list-style: none;
}

.sitter_item > p {
  display: inline-block;
}

.map-wrapper {
  height: 100%;
}

.container {
  padding: 5%;
}

html, body, #map-canvas {
  margin: 0px;
  padding: 0px
}

.sitterIndexImg img {
  max-width: 100px;
  max-height: auto;
  border-radius: 5px;
  padding-top: 20%;

}

.sitterShowInfo img {
  border-radius: 10px;
  margin-right: 2%;
  margin-top: 20%;
  margin-left: 18%;
  max-width: 250px;
  max-height: auto;
}

.sitterShow {
  min-height: 850px;
  border: thin solid black;
}

.sitterShow #map-canvas {
  height: 400px;
  width: 400px;
  margin-top: 5%;
  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
  border-radius: 10px;
}

.sitterItem a {
  color: #4BDE2F;
}

.sitterInfo {
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 5%;
  margin-top: 5%;
}

.dogs{
  // min-height: 600px;
  // background-color: #FFFFFF;
  // border: thin solid black;
  // border-radius: 5px;
  // padding: 15px;
}

.dog {
  margin: 3%;
  display: inline-block;
  float: left;
  padding-left: 2%;
  padding-right: 2%;

  border-radius: 5px;
}
.dog h3{
  text-align: center;
  font-size: 250%;
}

.dog > .img-circle {
  width: 300px;
  height: 250px;
}

.dogShowInfo {

}

a.dropdown-toggle {
  color: green;
}

.dropdown-menu > li > a:hover {
  background-color: #C7FFAC;
}

.newSitterForm #loadingSitterGif {
  float: right;
  margin-top: 20%;

}


#dateStart {
  display: inline;
  width: 25%;
}

#dateEnd {
  display: inline;
  width: 25%;
}

#newBookingForm {
  width: 100%;
}

#bookingMessageLabel {
  display: block;
}

#bookingMessage {
  display: block;
  min-height: 250px;
  width: 65%;
}

#submitBooking {
  display: block;
  margin-top: 1%;
}

#newDogForm textarea {
  min-height: 250px;
}

#newDogForm {
  margin-left: 25%;
}

.alert {
  width: 150%;
}

.newSitterWrapper .alert {
  width: 100%;
}

.container > .alert {
  width: 50%;
}

#newBookingForm {
  padding: 20px;
  padding-left: 25%;
  background-color: #FFFFFF;
  border: thin solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

#newBookingForm .alert {
  width: 100%;
}

#newBookingForm textarea {
  min-width: 200px;
}

.container {
  background-color: #C7C7C0;

}

.mapWrapper {
  height: 400px;
  width: 400px;
}

.dogBooking {
  border: thin solid black;
  border-radius: 5px;
}

.dogBooking img {
  max-width: 400px;
  max-height: auto;
}

.sitterBooking {
  border: thin solid black;
  border-radius: 5px;
}

.sitterBooking img {
  max-width: 400px;
  max-height: auto;
}
